{% extends "base.html.twig" %}

{% block title %}TwentyOne Docs{% endblock %}

{% block body %}
    <h1>Twenty One Docs</h1>

        <p>Documentation and uml for Twenty One game.</p>

                <br>
                <img src="{{ asset('build/images/twentyoneflow.png') }}" alt="">
                <img src="{{ asset('build/images/twentyone.png') }}" alt="">
                
                <br><br>

                <h2>GameTwentyOne</h2>
                <p>GameTwentyOne is the main class of the game 21 and is responsible for the game logic. It has methods for drawing cards, calculating scores, checking if the game is over and
                so on. It also contains the CardHand objects for the player and the dealer, as well as the DeckOfCards object for the deck.
                </p>

                <ul>
                    <li>Initialize TwentyOneGame class</li>
                    <li>Player get option to stand or draw</li>
                    <strong>Player draw > 21 -> Game over dealer wins</strong><br>
                    <strong>Player draw <= 21 get option again</strong>
                    <li>Player stand -> Dealer draw until 17 or more</li>
                    <li>Scores are calculated and a victor is decided - Highest score wins</li>
                </ul>

                <br>
                <h2>Card Classes <button onclick="window.location.href='{{ path('card_docs') }}'">View Card Docs</button></h2>
                <p>Card, CardGraphic, CardHand and DeckOfCards are the classes used for the cards in the game. They are used to create the deck, draw cards, calculate scores and so on.</p>
{% endblock %}
