{% extends "base.html.twig" %}

{% block title %}TwentyOne{% endblock %}

{% block body %}
    <h1>Twenty One Information</h1>
    <p>We don’t bet – it is just all about the numbers!</p>
    <p>Aim of the 21 Card Game is to get 21 or as close to as possible.</p>
    <ul>
        <li>Number cards have their face value, jacks, kings and queens are worth 10.</li>
        <li>Ace can be either 1 or 11.</li>
        <li>The player needs to decide if they want another card (hit) or will sit (stand) on what they have.</li>
        <li>You can have as many cards as you like as long as you don’t go over 21.</li>
        <li>If the dealer has 16 or under then they must take another card.</li>
        <li>If the dealer has 21 (Ace and a ten value card) the dealer wins.</li>
        <li>If you have the same as the dealer, you loose.</li>
        <li>If the dealer goes bust you win.</li>
        <li>The deck gets reshuffled after every game.</li>
    </ul>

    <br><br>
    <button class="green-button full-width-button" onclick="window.location.href='{{ path('game') }}'">Play Twenty One</button>
    <button class="blue-button" onclick="window.location.href='{{ path('game_docs') }}'">Docs</button>
{% endblock %}
