{% extends "base.html.twig" %}

{% block title %}Cards{% endblock %}

{% block body %}
    <h1>Cards</h1>
    <span class ="card">{{ card }}</span>

    <a href="card/deck">View Deck</a>
    <a href="card/shuffle">Shuffle Deck</a>
    <a href="card/draw">Draw Card</a>
{% endblock %}
