{% extends "base.html.twig" %}

{% block title %}Card Doc{% endblock %}

{% block body %}
    <h1>Card Doc</h1>

        <p>This is a UML diagram of the classes used in the card-section of the site.</p>

                <br>
                <img src="{{ asset('build/images/cardsclasses.png') }}" id="card-uml" alt="">
                
            </a>

{% endblock %}
