{% extends "base.html.twig" %}

{% block title %}Cards{% endblock %}

{% block body %}
    <h1>Drawn Cards:</h1>
    <form method="post" action="">
        <p>
            <input type="submit" value="< Hand"
                onClick="this.form.action='{{ path('card') }}';">
        </p>
    </form>
    <span class="card">
        {% for card in cards %}
            {{ card }}
        {% endfor %}
    </span>

    <h3>Cards remaining: {{ deckCardCount }}</h3>

    <form method="post" action="{{ path('draw_form') }}">
        <label for="num">Draw X cards:</label>
        <input type="number" id="num" name="num" min="1" required>
        <button type="submit">Draw</button>
    </form>
{% endblock %}