html {
    background-color: rgb(238, 238, 238);
}

body {
    background-color: white;
    justify-content: center;
    margin: auto;
    max-width: 1250px;
    border: 1px solid rgb(128, 128, 128);
}

header {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: 100;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgrey;
    min-height: 45px;
    border-bottom: 1px solid grey;
}

.header-nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    padding-left: 1em;
    padding-top: 1em;
    margin: 0;
}

.header-nav ul li {
    margin-right: 10px;
    height: 40px;
    justify-content: center;
    text-align: center;
}

.header-nav ul li:last-child {
    margin-right: 0;
}

.header-nav ul li a {
    text-decoration: none;
    color: #333;
}

.header-nav ul li a:hover {
    color: white;
    background-color: grey;
}

main {
    margin: 0 auto;
    max-width: 70%;
}

footer {
    padding-top: 3em;
}

h1 {
    border-bottom: 4px double #ccc;
}

.container {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 48%;
    padding: 20px;
    box-sizing: border-box;
}

.aboutimg {
    max-width: 400px;
}

.rounded {
    border-radius: 50%;
    border: 1px grey solid;
}

.meimg {
    width: 200px;
}

.asidenav {
    position: fixed;
    top: 400px;
    left: 50px;
    width: 150px;
    height: calc(100% - 60px);
    background-color: (238, 238, 238);
    padding-top: 20px;
    z-index: 1;
    overflow-y: auto;
}

.asidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.asidenav ul li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #000;
}

.asidenav ul li a:hover {
    background-color: #ddd;
}

.content {
    margin-left: 220px;
}

.kmomcontent {
    margin-bottom: 10em;
}

.kmomcontent > h2 {
    margin-bottom: 0;
}

.kmomtextheader {
    padding-top: 2em;
    padding-bottom: 0em;
}

.kmom-text {
    font-family: sans-serif;
    font-size: 0.9em;
}
