html {
    background-color: rgb(238, 238, 238);
}

body {
    background-color: white;
    justify-content: center;
    margin: auto;
    max-width: 1250px;
    border: 1px solid rgb(128, 128, 128);
}

header {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: 100;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgrey;
    min-height: 45px;
    border-bottom: 1px solid grey;
}

.header-nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    padding-left: 1em;
    padding-top: 1em;
    margin: 0;
}

.header-nav ul li {
    margin-right: 10px;
    height: 40px;
    justify-content: center;
    text-align: center;
}

.header-nav ul li:last-child {
    margin-right: 0;
}

.header-nav ul li a {
    text-decoration: none;
    color: #333;
}

.header-nav ul li a:hover {
    color: white;
    background-color: grey;
}

main {
    margin: 0 auto;
    max-width: 70%;
}

footer {
    padding-top: 3em;
}

h1 {
    border-bottom: 4px double #ccc;
}

h2 {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 48%;
    padding: 20px;
    box-sizing: border-box;
}

.aboutimg {
    max-width: 400px;
}

.rounded {
    border-radius: 50%;
    border: 1px grey solid;
}

.meimg {
    width: 200px;
}

.asidenav {
    position: fixed;
    top: 400px;
    left: 50px;
    width: 150px;
    height: calc(100% - 60px);
    background-color: (238, 238, 238);
    padding-top: 20px;
    z-index: 1;
    overflow-y: auto;
}

.asidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.asidenav ul li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #000;
}

.asidenav ul li a:hover {
    background-color: #ddd;
}

.content {
    margin-left: 220px;
}

.kmomcontent {
    margin-bottom: 10em;
}

.kmomcontent > h2 {
    margin-bottom: 0;
}

.kmomtextheader {
    padding-top: 2em;
    padding-bottom: 0em;
}

.kmom-text {
    font-family: sans-serif;
    font-size: 0.9em;
}

input {
    font-size: 1em;
}

h1 {
    border-bottom: 4px double green;
}


/* Kmom02 Styling*/

.die {
    font-size: 2em;
}

.flash-success {
    padding: 0.5em;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.flash-notice {
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.flash-warning:before {
    content: "⚠";
}

.flash-error {
    padding: 0.5em;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.card {
    font-size: 10em;
}

#card-uml {
    text-align: center;
    justify-content: center;
}

.button {
    border: 1px solid #ccc;
    text-decoration: none;
    box-sizing: border-box;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    padding: 0.4rem 1rem;
    text-align: center;
    border-radius: 10px;
    line-height: 1.4;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
    background-color: #ddd;
    background-image: none;
    cursor: pointer;
}

.button:active {
    background-color: #dcdcdc;
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
}

.full-width-button {
    width: 100%;
    margin: 0.5rem auto;
    display: block;
}

.red-button,
.green-button,
.blue-button {
    color: #fff;
    padding: 0.6rem 1.2rem;
    border-radius: 10px;
    border-width: 1px;
    font-size: 1.4rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.red-button {
    background-color: #e74c3c;
    border-color: #e04231;
    box-shadow: none;
}

.red-button:hover {
    background-color: #c0392b;
}

.red-button:active {
    background-color: #d13123;
    box-shadow: none;
}

.green-button {
    background-color: #27ae60;
    border-color: #229954;
}

.green-button:hover {
    background-color: #229954;
}

.green-button:active {
    background-color: #1e8449;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
}

.blue-button {
    background-color: #3498db;
    border-color: #2980b9;
}

.blue-button:hover {
    background-color: #2980b9;
}

.blue-button:active {
    background-color: #1c6ea4;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
}

.input {
    font-size: larger;
    height: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 1em;
    margin-bottom: 1em;
}

.textarea {
    height: 5em;
    min-height: 100px;
}
