{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>About</h1>
    <div class="container">
        <div class="column">
            <h2>MVC</h2>
                <p>Kursen Objektorienterade webbteknologier, a.k.a. mvc, fokuserar på objektorienterade programmeringstekniker i programmeringsspråket PHP. Klassiska objektorienterade konstruktioner hanteras tillsammans med objektorienterad programmering i webbaserat ramverk tillsammans med databaser samt enhetstestning.</p>
                <a href="https://github.com/dbwebb-se/mvc">
                <img src="{{ asset('img/glider.svg') }}" alt="">
                <br>
                <a href = "https://github.com/dbwebb-se/mvc">GitHub<a>
            </a>
        </div>
        <div class="column">
            <h2>Me</h2>
            <img src="{{ asset('build/images/ronald.jpg') }}" alt="" class="rounded meimg">
            <br>
            <br>
            <p>Me - josf23's:</p>
            <a href="https://github.com/CCenjoyer/mvc">GitHub<a>
            <a href="https://www.student.bth.se/~josf23/dbwebb-kurser/mvc/me/">BTH</a>
        </div>
    </div>
{% endblock %}
