{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Me</h1>
    <img src="{{ asset('build/images/ronald.jpg') }}" alt="" class="rounded meimg">
    <p>Mitt namn är <strong>Joel Sjölund</strong>. Född, uppväxt och bor i Göteborg sedan 2000.</p>
    <p>I augusti av 2023 började jag studera webbprogrammering på Blekinges Teknsika Högskola där jag just nu läser kurserna MVC samt Webbapp.</p>
    <p>Ända sedan ung ålder har jag haft ett stort intresse av alla möjliga delar av den så kallade, <em>"Tekniska världen"</em>. Vara det mjukvara, hårdvara eller bara generell information om ett tekniskt ämne så har jag alltid till vis mån varit intresserad av att lära mig mer om det.</p>
    <p>Ha det gött!</p>
{% endblock %}
