{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Report Page</h1>
    <aside class = "asidenav">
        <ul>
            <li><a href="#kmom01">Kmom01</a></li>
            <li><a href="#kmom02">Kmom02</a></li>
            <li><a href="#kmom03">Kmom03</a></li>
            <li><a href="#kmom04">Kmom04</a></li>
            <li><a href="#kmom05">Kmom05</a></li>
            <li><a href="#kmom06">Kmom06</a></li>
            <li><a href="#kmom10">Kmom07-10</a></li>
        </ul>
    </aside>
    <div class="kmomcontent">
        <h2 id="kmom01">Kmom01</h2>
        <h3 class="kmomtextheader"><strong>Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.</strong></h3>
        <p class="kmom-text">I början av detta år gick jag kursen <em><a href="https://dbwebb.se/kurser/oopython-v3">Algoritmer och datastrukturer med objektorienterad Python</a></em> vilket, som
        det låter, hade en väldigt stor fokus på objektorientering. Varje steg på kursen så arbetade på något vis med objekt vare dem var helt självgjorda eller 
        dels inspererade av tillgiven instruktion.</p>
        <h3 class="kmomtextheader"><strong>Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?</strong></h3>
        <p class="kmom-text">
        Klasser inom PHP defineras med hjälp av class-nyckelordet, precis som i andra språk så har kan klasser ha en konstruktor, attribut och metoder.
        Du kan också skapa en klass som ärver från en annan med nyckelordet extends vid defineringen av klassen.
        Vid skapelsen av ett objekt som är av en viss klass använder du nyckelorder <em>new</em>, t.ex: $dollar = new Dollar();
        </p>
        <p class="kmom-text">
        Dock så är det enda vi använt klasser för hittils att skapa routes till olika sidor.
        </p>
        <h3 class="kmomtextheader"><strong>Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?</strong></h3>
        <p class="kmom-text">
        Både Databas-kursen och design kursen har hjälpt enormt med att göra processen att lära känna filerna och filsystemet i uppgiften väldigt mycket lättare.
        Men avän i oopython så arbetade vi också med routes. Alla dessa kurser tillsammans har förberett mig väldigt bra för att inte bli överväldigad
        med det nya projektet. 
        </p>
        <p class="kmom-text">
        Jag måste säga dock, det kändes smidigare att arbeta med controllers och paths i Symfony än i express. Kändes väldigt enkelt att att skaa en route in en kontroller
        som sedan leder till en render av en template. Det är en del som jag inte riktigt är helt säker på än. För det mesta har detta att göra med bilderna och de tre
        olika mapparna dem ligger i och i fall där man ska ge routen till dessa bilder.
        </p>
        <h3 class="kmomtextheader"><strong>Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla? Är det några särskilda områden som du känner att du vill veta mer om? Lyft fram några delar av artikeln som du känner mer värdefulla.</strong></h3>
        <p class="kmom-text">
        Det finns en del av artikeln om password encryption, hashing och '<em>salting</em>'?? Och precis som artikeln nämner, någon gång som kommer man behöva göra ett proppert
        inloggnings-system, och i det fallet så är ju säker förvaring av lösenord och kontodetaljer prio ett. Medans man gjorde ett inloggnings-system i webteknik kursen, kände 
        inte jag att jag gick ur min väg för att göra skapelsen eller hanteringen av konton inom projekten speciellt mycket säkrare. Trots att lösenorden hade hashing.
        </p>
        <p class="kmom-text">
        Strax under det finns ett segment om data-filtering, vilket är en viktig del av applikationssäkerhet. Det handlar om att validera och rensa användarinput innan det används i en applikation.
        </p>
        <p class="kmom-text">
        Båda ämnen har med säkerhet att göra, vilket jag tycker alltid bör vara prioritet. Även om webbsidan helt klart suger, så länge den inte är farlig för dig som skapare eller
        för andra användare, så kan det alltid fixas.
        <p>
        <h3 class="kmomtextheader"><strong>Vilken är din TIL för detta kmom?</strong></h3>
        <p class="kmom-text">
        Under uppgiftens gång har jag lärt mig arbeta med Symfony, hur och vad composer används till. Jag satte också igång den gamla PHP motorn för att för att arbeta
        lite med templates och jsons som innehåller dynamiska värden men också arbetat mer med routes som i tidigare kurser.
        </p>
    </div>

    <h2 id="kmom02">Kmom02</h2>
    <h2 id="kmom03">Kmom03</h2>
    <h2 id="kmom04">Kmom04</h2>
    <h2 id="kmom05">Kmom05</h2>
    <h2 id="kmom06">Kmom06</h2>
    <h2 id="kmom07">Kmom07-Kmom10</h2>
{% endblock %}
